@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
:root{
    --Softred: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Darkbrown: hsl(25, 47%, 15%);
    --Mediumbrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --paleorange: hsl(33, 100%, 98%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    padding: 1rem;
    background-color: var(--Cream);
    display: grid;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.container{
    width : 500px;
    margin: auto;
    height: max-content;
    margin-top: 1rem;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.balance{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--Softred);
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    color: white;
}
.balance div h3{
    font-size: xx-large;
    font-weight: 400;
}
.balance div p{
    margin-bottom: 0.3rem;
    color: rgba(255, 255, 255, 0.781);
}
main{
    background-color: var(--paleorange);
    border-radius: 0.8rem;
    padding: 1rem;
}
main h3{
    font-size: x-large;
    color: var(--Darkbrown);
}
#myChart{
    padding-top: 0.5rem;
    height: max-content;
    cursor: pointer;
}
hr{
    margin: 1rem 0;
    background-color: var(--Mediumbrown);
    color: var(--Mediumbrown);
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info span{
    color: var(--Mediumbrown);
}
.info p{
    color: var(--Darkbrown);
    font-weight: 700;
}
.total p{
    font-size: xx-large;
}
.percent{
    text-align: right;
    margin-top: 1.5rem;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    margin-top: 1rem;
    /* bottom: 1rem;
    width: 90%; */
}
.attribution a { 
    color: var(--Softred); 
}
@media screen and (max-width : 500px){
    .container{
        max-width: 460px;
        margin-top: 3rem;
    }
}